@charset "UTF-8";

body {
    background-color: antiquewhite;
    
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color:green;
    padding: 60px;
    
}

header > h1 {
color: white;
text-align: center;
font-size: 50px;

}

header > p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav  {
    background-color: green;
    padding-bottom: 15px;
    padding-top: -40px;
    box-shadow: 0px 5px 5px #00000080;

}

nav > a {
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-right: 20px;
    margin-left: 20px;
    
}

nav > a:hover {
    background-color: #90f190;
    color: #3a4738;
    padding: 10px;
    border-radius: 5px;
}

main {
    background-color: white;
    margin: 150px;
    margin-top: 0px;
    padding: 30px;
    text-align: justify;
    box-shadow: 0px 0px 20px #0000009c;
    border-radius: 0px 0px 20px 20px;
    
    
}

main a {
    color: rgba(0, 151, 0, 0.979);
    font-weight: bolder;
    text-decoration: none;
}

main p {
    line-height: 2em;
}

article > h1 {
    font-family: Arial, Helvetica, sans-serif;
    
}

article > p {
    text-indent: 20px;
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

article  h2 {
    background-color: #9fe49f;
    color: #3c703ce7;
   
}

picture img {
    width: 100%;
}

img {
    width: 50%;
    display: block;
    margin: auto;
    
   
}

#video {
    background-color: rgb(5, 70, 5);
    text-align: center;
   

}

h3 {
    margin-top: 40px;
    background-color: green;
    color: white;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    
}

#alternativo {
    background-color: #73bd73;
    border-radius:0px 0px 15px 15px;
    text-align: justify;
    padding: 20px;
    text-indent: 20px;
}

ul {
    columns: 2;
    list-style-position: inside;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
}